<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>

  <body>
    <%- include('partials/_header') %>
    <h1>404 - Not Found</h1>

    <p>This shortened URL does not exist</p>
  </body>
</html>
